<div class="card-deck ml-5">
  <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
    <div class="card-body">
      <h3 class="card-title">Clients</h3>
      <h1 class="card-text">{{ customers.lenght }}</h1>
    </div>
  </div>

  <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
    <div class="card-body">
      <h3 class="card-title">Projets</h3>
      <h1 class="card-text">{{ projects.lenght }}</h1>
    </div>
  </div>

  <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
    <div class="card-body">
      <h3 class="card-title">Employés</h3>
      <h1 class="card-text">{{ employees.lenght }}</h1>
    </div>
  </div>

</div>
