<h1>Liste des Projets</h1>

<div class="mt-5 mb-5">
    <a routerLink='/project/create' class="btn btn-info">Ajouter un projet</a>
</div>

<table class="table">

    <tr>
        <td>Nom</td>
        <td>Description</td>
        <td>Date de départ</td>
        <td>Date de fin</td>
        <td>Clients</td>
        <td>Montant</td>
        <td>Statut</td>
        <td></td>
    </tr>

    <tbody>
        <tr *ngFor="let project of projects">
          <td>{{project.name}}</td>
          <td>{{project.description}}</td>
          <td>{{project.start_date}}</td>
          <td>{{project.end_date}}</td>
          <td>{{project.customer}}</td>
          <td>{{project.amount}}</td>
          <td>{{project.status}}</td>
          <td>
            <a routerLink="/project/view/{{project._id}}" class="btn btn-primary">voir profil</a>
            <a routerLink="/project/update/{{project._id}}" class="btn btn-secondary">modifier profil</a>
            <button type="button" name="button" class="btn btn-danger" (click)="deleteProject(project._id)">Supprimer</button>
          </td>
        </tr>
    </tbody>

</table>
