<h1>Liste des projets</h1>
<div class="counter" *ngIf="projets">
  <p>{{projets.length}} projets</p>
</div>
<div class="mt-5 mb-5">
  <a routerLink='/create' class="btn btn-info">Ajouter un projet</a>
</div>

<table id="example" class="table table-striped table-bordered" style="width:100%">
  <thead>
    <tr>
      <th>#</th>
      <th>Entreprise</th>
      <th>Adresse</th>
      <th>Contact</th>
      <th>Secteur</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let projet of projets">
      <td>{{projet._id}}</td>
      <td>{{projet.entreprise}}</td>
      <td>{{projet.location}}</td>
      <td>{{projet.contact}}</td>
      <td>{{projet.activite}}</td>
      <td>
        <a routerLink="/projet/{{projet._id}}" class="btn btn-success">Détails</a>
        <a routerLink="/update/{{projet._id}}" class="btn btn-warning">Modifier</a>
        <a routerLink="/delete/{{projet._id}}" class="btn btn-danger">Supprimer</a>
        <!--<button type="button" name="button" class="btn btn-danger" (click)="deleteprojet(projet._id)">Supprimer</button>-->
      </td>
    </tr>
</table>
