<div class="row">
  <div class="col-lg-6 text-right">
    <h3>Nom</h3>
    <h3>Description</h3>
    <h3>Date de départ</h3>
    <h3>Date de fin</h3>
    <h3>Client</h3>
    <h3>Employés</h3>
    <h3>Montant</h3>
    <h3>Statut</h3>
  </div>
  <div class="col-lg-6 text-left">
    <h5 class="mt-3">{{project.name}}</h5>
    <h5 class="mt-3">{{project.description}}</h5>
    <h5 class="mt-3">{{project.start_date}}</h5>
    <h5 class="mt-3">{{project.end_date}}</h5>
    <h5 class="mt-3">{{project.customer}}</h5>
    <h5 class="mt-3">{{project.employee}}</h5>
    <h5 class="mt-3">{{project.amount}}</h5>
    <h5 class="mt-3">{{project.status}}</h5>
  </div>
</div>