<h1>Liste des Employés</h1>

<div class="mt-5 mb-5">
  <a routerLink='/employee/create' class="btn btn-info"><i class="fas fa-plus"></i></a>
</div>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Nom</th>
      <th>Prénom</th>
      <th>Username</th>
      <th>Date de naissance</th>
      <th>Adresse</th>
      <th>Numéro téléphone</th>
      <th>Mail</th>
      <th>Poste</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let employee of employees">
      <td>{{employee.firstname}}</td>
      <td>{{employee.lastname}}</td>
      <td>{{employee.username}}</td>
      <td>{{employee.day_of_birth}}</td>
      <td>{{employee.address}}</td>
      <td>{{employee.phone_number}}</td>
      <td>{{employee.mail}}</td>
      <td>{{employee.job}}</td>
      <td>
        <a class="mr-2" routerLink="/employee/view/{{employee._id}}"><i class="far fa-eye"></i></a>        
        <a class="mr-2" routerLink="/employee/update/{{employee._id}}"><i class="far fa-edit"></i></a>
        <a (click)="deleteemployee(employee._id)"><i class="fas fa-trash"></i></a>
      </td>
    </tr>
  </tbody>

</table>
